.featured {
    padding: 0 50px;
}
.featured-title {
    font-size: 32px;
    font-weight: bold;
    position: relative;
    margin-bottom: 40px;
}
.featured-title::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 3px;
    top: 0;
    bottom: 0;
    background: #54b689;
}
.featured-title h1 {
    padding-left: 10px;
}

.featured-items {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    border: 1px solid #acacac;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.featured-items-img {
    height: 200px;
    overflow: hidden;
}
.featured-items-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    z-index: -999;
}
.featured-items-details {
    /* padding-left: 10px; */
    padding-top: 10px;
}
.featured-items-name {
    font-size: 22px;
}
.featured-items-by {
    font-size: 14px;
}

.featured-items-btn-middle {
    display: flex;
    gap: 4%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.featured-items-btn-prev button{
    display: flex;
    align-items: center;
    gap: 5px;
    background: #54b689;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    width: 120px;
}
.featured-items-btn-middle svg {
    font-size: 20px;
}
.featured-items-btn-source button{
    display: flex;
    align-items: center;
    gap: 5px;
    background: rgb(111, 111, 111);
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    width: 120px;
}

.featured-items-btn-middle:hover{
    transition: ease 1s;
        background: rgba(0, 0, 0, 0.274);
        opacity: 1;
}


@media screen and (max-width: 425px) {
    .featured {
        padding: 0 20px;
    }
    .featured-items {
        padding: 10px 5px;
    }
    .featured-items-img {
        height: auto;
    }
}
@media screen and (max-width: 768px) {
    .featured-items-img {
        height: auto;
    }
}