.sidebar-client,
.sidebar-client-main,
.ant-drawer-content,
.ant-drawer-header {
    background: #54b689;
    /* min-height: 100vh; */
}
.sidebar-client-main {
    position: relative;
}
.sidebar-client {
    position: sticky;
    top: 0;
}
.info-side {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 20px;
}
.info-side::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30px;
    right: 30px;
    height: 2px;
    background: rgb(111, 111, 111);
}
.name-side {
    position: sticky;
    font-size: 25px;
    padding: 20px 0;
}
.img-side {
    border-radius: 50%;
    overflow: hidden;
    width: 55%;
}
.info-quickly {
    text-align: center;
    color: white;
    padding: 20px;
    padding-bottom: 0;
}
.social-icon{
    font-size: 30px;
    display: flex;
    justify-content: center;
    gap: 20%;
}
.social-icon a {
    color: white;
}

.menu-sidebar {
    margin-top: 10%;
}
.menu-sidebar ul li{
    padding: 15px 50px;
}
.menu-sidebar ul li a{
    color: white;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
}
.menu-sidebar ul li a span{
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding-right: 10px;
}
.ant-drawer-title {
    color: #fff;
}
.menu-sidebar-mobile {
    display: none;
}
@media screen and (max-width: 425px){
    .info-side::after {
        background: none;
    }
    .sidebar-client .menu-sidebar {
        display: none;
    }
    .menu-sidebar {
        margin-top: 0;
    }
    .menu-sidebar ul li {
        padding: 15px 0;
    }
    .menu-sidebar-mobile {
        display: flex;
        position: fixed;
        top: 1px;
        right: 1px;
    }
    .btn-show-menu-mobile {
        height: 35px;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid rgb(237, 237, 237);
        background: #54b689;
    }
}
@media screen and (max-width: 769px){
    .info-side::after {
        background: none;
    }
}