@tailwind base;
@tailwind components;
@tailwind utilities;

.header-client-info {
    position: relative;
}
.header-client-info::after {
    content: '';
    position: absolute;
    height: 120%;
    top: -10%;
    right: 0;
    width: 2px;
    background: rgb(247, 161, 0);
}