body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.boder-css {
  border: 1px solid red;
}
*{
  margin: 0;padding: 0;box-sizing: border-box;
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 !important;
  padding: 0;
}
.text-white {
  color: white !important;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}